.container {
  align-items: center;
  padding: 2rem;
  background-color: #333;
}

.logo {
  border-radius: 50%;
  cursor: pointer;
}

.logocontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.draft {
  font-style: italic;
  margin-top: -3rem;
  margin-right: -8rem;
  transform: rotate(-15deg);
  z-index: 100;
  font-size: 2rem;
  background-color: #eee;
  color: tomato;
  border: 5px solid tomato;
  padding: 0.2rem 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid #444;
  justify-content: center;
  align-items: center;
}
