.container {
  align-items: center;
  padding: 2rem;
  background-color: #30333B;
}

.logo {
  border-radius: 50%;
  cursor: pointer;
}

.logocontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.draft {
  font-style: italic;
  z-index: 100;
  font-size: 1rem;
  background-color: #393c45;
  color: #07f468;
  border: 2px solid #07f468;
  padding: 0.6rem 1.8rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  margin-top: 2rem;
  border-top: 1px solid #393c45;
  justify-content: center;
  align-items: center;
}