.draft {
  font-style: italic;
  z-index: 100;
  font-size: 0.8rem;
  background-color: #393c45;
  color: #07f468;
  border: 2px solid #07f468;
  padding: 0.7rem 1.8rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.result {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.participants input {
  background-color: #393c45;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #eee;
  width: 15rem;
  height: 3rem;
  border: 2px solid #333;
  font-size: 1rem;
  transition: all ease-in 0.2s;
}

.participants button {
  background-color: #393c45;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #eee;
  height: 3rem;
  border: 2px solid #333;
  font-size: 1rem;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.participants button:hover {
  background-color: #07f468;
  color: #333;
  border: 2px solid #07f468;
}

.participants input:focus {
  border: 2px solid #07f468;
  outline: none;
}

.participantItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}


.participantItemButton {
  color: #393c45 !important;
  background: none !important;
  font-size: 1.8rem !important;
  border: none !important;
  font-weight: bolder !important;
}

.participantItemDrag {
  color: #393c45 !important;
  background: none !important;
  font-size: 1.8rem !important;
  border: none !important;
  font-weight: bolder !important;
  cursor: grab;
  margin-top: -5px;
  margin-right: 20px;
}

.participantItemDrag:hover {
  color: #07f468 !important;
}

.participantItemButton:hover {
  color: #07f468 !important;
}

.name {
  margin: 0;
  font-style: italic;
  font-size: 1.5rem;
}

.addparticipant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2rem;
}

.name {
  margin: 0;
  font-style: italic;
  font-size: 1.5rem;
}

.draw {
  margin-top: 2rem;
  font-size: 0.8rem !important;
  font-weight: bolder !important;
  width: 18rem;
}

.optionsContainer {
  padding-top: 1.5rem;
}

.customCheckbox {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.customCheckbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.customCheckbox input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #07f468;
}

.customCheckbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}